@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Poppins&display=swap');
.masterhome{
  padding: 2%;
}
.App {
  font-family: "Poppins";
  text-align: center;
  background: url('./img/cute\ stuff.png');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  min-height: 91vh;
  min-width: 100vw;
  background-position: center bottom;
  align-content: center;
  justify-content: center;
}
body{
  padding: 0 !important;
  margin: 0 !important;
}
html {
  overflow-x: hidden;
}
#head {
  padding: 1%;
}
.Card {
  width: 100%;
  /* background-color: #f4f0ff !important; */
  margin: 2%;
  padding: 20px;
  border-radius: 25px !important;
}
.res .link{
  text-decoration: wavy !important;
}
.link h5:hover{
  color: #c71c5e;
}

.Card1 {
  min-width: 230px;
  padding: 1%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  border-radius: 10px !important;
}
.Card2 {
  min-width: 260px;
  text-decoration: none;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hack {
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e0b6cc' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(120deg, #fff, #fad8e5); */
  text-decoration: none;
  border-radius: 10px !important;
  width: 220px;
  padding: 1%;
  padding-top: 2%;
  margin: 0.9%;
}
.person {
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e0b6cc' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(120deg, #fff, #fad8e5); */
  text-decoration: none;
  border-radius: 10px !important;
  width: 80%;
  padding: 2%;
  margin: 1%;
}
.item {
  width: 300px;
  padding: 1%;
}
.item1 {
  width: 230px;
  padding: 1%;
  margin: 0.9%;
}
.caro{
  width: 400px;
}
.caroitem{
  width: 400px;
  height: 450px;
}
.carocard{
  height: 450px;
  padding: 5%;
  background-color: #0000008e !important;
  border-radius: 20px !important;
}
.carousel-indicators li { border-top: unset; width: 10px; border-bottom: unset; border: 1px solid transparent; border-left-width: 0; border-right-width: 0; border-radius: 10px; background-color: rgba(255, 255, 255, 0.4); height: 10px; width: 20px;} .carousel-indicators .active { border-top: unset; border-bottom: unset; border: 1px solid transparent; border-left-width: 0; border-right-width: 0; border-radius: 10px; background-color: #ffffff; height: 10px; width: 50px}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: stretch !important;
  justify-content: center;
}
.list1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}
#homepage{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.insidediv{
  display: block;
}
.insidediv .Card{
  padding: 10px;
  margin: 10px;
  width: 230px;
  height: max-content;
  /* background: linear-gradient(120deg, rgba(255, 255, 255, 0.281), #fdccf950); */
  border-radius: 25px !important;
}
.insidediv .Card .link{
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #db467f;
}

.insidediv .Card .link:hover{
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #c71c5e;
}
.insidediv .Card h5{
  color: #db467f;
}
.insidediv .Card h5:hover{
  color: #c71c5e;
}
.lm{
  font-weight: 700 !important;
  font-family: "Poppins" !important;
  
}
.ca{
  display: flex;
  width: 100%;
  justify-content: center;
}
.opp h5{
  font-weight: 500 !important;
  /* color: #000; */
  text-decoration-line: underline ;
  text-decoration-style: wavy ;
}
.opptype{
  transform: translateX(-50%);
}
.hack h5{
  font-weight: 500 !important;
  /* color: #000; */
  text-decoration-line: underline ;
  text-decoration-style: wavy ;
}

.person h5{
  font-weight: 500 !important;
  /* color: #000; */
  text-decoration-line: underline ;
  text-decoration-style: wavy ;
}
#foot{
  width:100vw;
  position : fixed;
    bottom : 0;
    /* height : 40px; */
  color: #000000;
  padding: 5px;
  /* transform: translateX(-2%) ; */
  background-color: #e2427270;
}
.App h2{
  font-weight: 600;
}
/* .App h6 a{
  color: #6e4077;
}
.App h6 a:hover{
  color: #e9daec;
}
.App h6 a:visited{
  color: #6e4077;
} */
.wof{
  width: 250px;
  height: 250px;
  padding:10px;
  border-radius: 20px !important;
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e0b6cc' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E"),linear-gradient(120deg, #fff, #fad8e5) ; */
}
.wof .icon{
  transform: scale(4) translateY(60%);
}
.wof h6{
  transform: translateY(200%);
}
.wof a{
  font-weight: 600;
  /* color: #000 !important; */
}
#basic-navbar-nav{
  font-family: "Poppins" !important;
}
#basic-menu{
  font-family: "Poppins" !important;
  text-decoration: none !important;
  text-transform: capitalize !important;
}

@media (max-width: 800px) {
  .celeb{
    width: 100%;
  }
  .darkswitch{
    right: 20% !important;
  }
  .list {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
  }
  .Card1 {
    justify-content: center;
  }
  .list1 {
    /* width: 100vw; */
    height: max-content;
    flex-direction: row;
    justify-content: center;
  }
.item1 {
  padding: 15px;
  margin: 1%;
}
  .hack{
    height: fit-content;
    padding: 5%;
    width: 230px;
    justify-content: center;
  }
  .person{
    height: fit-content;
    padding: 5%;
    /* width: 230px; */
    justify-content: center;
  }
  .Card2 {
    height: fit-content;
    justify-content: center;
  }
  .caro{
    width: 90%;
  }
  .caroitem{
    width: 90%;
    /* height: 400px; */
    /* padding: 1%; */
  }
  .carocard{
    width: 100%;
    height: 100%;
  }
  .carocard img{
    width: 80%;
  }
  #foot{
    position: relative;
    bottom: 0;
  }

}