@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.App {
  font-family: "Poppins";
  text-align: center;
  /* background-color: rgb(223, 194, 250); */
  background: linear-gradient(rgb(238, 179, 213), rgb(223, 194, 250));
  align-content: center;
  justify-content: center;
  min-height: 91vh;
}
html {
  overflow-x: hidden;
}
#head {
  padding: 1%;
}
.Card {
  width: 100%;
  background-color: #f4f0ff !important;
  margin: 2%;
  text-decoration: none;
  padding: 10px;
}
.Card1 {
  min-width: 230px;
  background-color: #f4f0ff !important;
  padding: 1%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.Card2 {
  min-width: 260px;
  background-color: #fcf4f7 !important;
  text-decoration: none;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hack {
  background-color: #fcf4f7 !important;
  text-decoration: none;
}
.item {
  width: 300px;
  padding: 1%;
}
.item1 {
  width: 230px;
  padding: 1%;
  margin: 0.9%;
}
a {
  color: #ff59b4;
}
a:hover {
  color: #ff5982;
}
a:visited {
  color: #a159ff;
}
a:visited:hover {
  color: #ff5982;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: stretch !important;
  justify-content: center;
}
.list1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}
#homepage{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.insidediv{
  display: block;
}
.insidediv .Card{
  padding: 10px;
  margin: 10px;
  width: 230px;
  height: max-content;
  background: #fcf4f7de !important;
  border-radius: 25px !important;
}
.insidediv .Card .link{
  text-decoration: none;
}
.insidediv .Card:hover{
  background-color: #ffffff !important;
}
.insidediv .Card h5{
  font-weight: 700;
  color: #6e4077;
}
.insidediv .Card h5:hover{
  font-weight: 700;
  color: #c71c5e;
}
.insidediv .Card p{
  color: #000000;
}
.lm{
  font-weight: 700 !important;
  font-family: "Poppins" !important;
}
@media (max-width: 800px) {
  .list {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
  }
  .Card1 {
    justify-content: center;
  }
  .list1 {
    width: 100vw;
    height: max-content;
    flex-direction: row;
    justify-content: center;
  }
  .list1 img{
    margin: 1%;
  }
  
.item1 {
  padding: 15px;
  margin: 1%;
}
  .hack{
    height: fit-content;
    justify-content: center;
  }
  .Card2 {
    height: fit-content;
    justify-content: center;
  }
}
